.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.app__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  gap: var(--space-4);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--space-4);
  overflow-y: auto;
}
